.row
  .col-md-12
    %h1#home-intro
      My name is Brian Ethier and I express myself with code
      =# image_tag 'cursor.gif' Maybe add this later

    .horizontal-line

.row
  .col-md-12
    %p.bio
      Hey there! My name is Brian Ethier, and I’m a software engineer living in beautiful Boulder, Colorado. I started my career in San Francisco helping to build two companies from startup to acquisition. I lived in Saigon, Vietnam for a year and started a grocery delivery company called
      = link_to 'Saigon Tiger.', '/experience/projects/saigon_tiger'

    %p.bio
      When I’m not programming I love to spend my time playing Chess, Go, and Magic the Gathering. I travel and attend at least a few Magic the Gathering Grand Prix per year.

    %p.bio
      I love game design, and have even designed my own card game. I combine my interests in economics, game design, and technology by contributing to the cryptocurrency community. Check out my art project called
      = link_to 'ETH.RIP.', 'http://eth.rip', {target: '_blank'}
      It's a site where you can provably burn your money, and attach a message for posterity.

    %p.bio
      I also take full advantage of the amazing outdoors that Colorado has to offer. I love to ride my motorcycle, ski, hike and play soccer.

    %p.bio
      Here are some projects that I’m very proud of having built!
    %ul
      %li
        = link_to 'Burner Wallet', '/experience/projects/burner_wallet'
        \- A web based crypto wallet. Transacted over $100k for 3000 people in a weekend at ETHDenver.
      %li
        = link_to 'Chess chat bot', '/experience/projects/chess_chat_bot'
        \- A chat bot created for the Google Home to play chess by voice
      %li
        = link_to 'Solid Coin', '/experience/projects/solidcoin'
        \- Physical coins with QR codes allowing the user to redeem cryptocurrency
