.row
  .col-md-12
    %p
      Programming is not only my career, it is also one of my most cherished passions. Here is a selection of some of my favorite side projects.

    %h2 Crypto
    %ul
      %li
        = link_to 'Burner Wallet', '/experience/projects/burner_wallet'
        \- Web based crypto wallet. Transacted over $100k for 3000 people in a weekend at ETHDenver.
      %li
        = link_to 'ETH.RIP', '/experience/projects/eth_rip'
        \- An artistic project exploring the ability to provably burn money on the blockchain.
      %li
        = link_to 'Amazon Bitcoins', '/experience/projects/amazon_bitcoins'
        \- Early service automating trade of bitcoin for Amazon Giftcards. Shutdown by Amazon's lawyers.
      %li
        = link_to 'Solidcoin', '/experience/projects/solidcoin'
        \- Physical coins with QR codes allowing the user to redeem cryptocurrency

    %h2 Consulting Work
    %ul
      %li
        = link_to 'Rippld', '/experience/projects/rippld'
        \- Architected the data model for a social network, including a Neo4j prototype
      %li
        = link_to 'Touchpoints', '/experience/projects/touchpoints'
        \- Created the tech stack for a sales retargeting company
      %li
        = link_to 'Travel Joy', '/experience/projects/traveljoy'
        \- Improved website load times by an order of magnitude for this travel SaaS company

    %h2 Misc
    %ul
      %li
        =link_to 'Chess Chat Bot', '/experience/projects/chess_chat_bot'
        \- A chat bot created for the Google Home to play chess by voice
      %li
        =link_to 'Connect4 Bot Platform', '/experience/projects/connect4_bot_platform'
        \- A platform for Connect4 AI bots to battle each other.
      %li
        =link_to 'Saigon Tiger', '/experience/projects/saigon_tiger'
        \- A grocery delivery company in Saigon, Vietnam.
