.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Copilot Labs
      %h4
        Senior Software Engineer
      %p
        First engineering hire. Architected, implemented and maintained a 100 machine Hadoop cluster for advanced statistical analysis. 

  .col-md-4.col-xs-12
    .career-logo
      = image_tag 'copilot-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2012-2014
      %h4
        Technologies used:
      %p
        Data Science, Python, Django, Java, Hadoop, Cascading, Amazon EC2 DevOps

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Rails Bridge
      %h4
        Teacher
      %p
        Volunteered time teaching monthly Ruby on Rails workshops. Held weekly office hours to supplement my students education and help debug their projects.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'rubyOnRails-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2012-2013
      %h4
        Technologies used:
      %p
        Ruby on Rails, Javascript, Mysql, Bootstrap, Heroku, Git

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Rapleaf
      %h4
        Software Engineer
      %p
        Full stack developer in charge of creating web applications used to visualize and manipulate billion element data sets.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'rapleaf-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2010-2012
      %h4
        Technologies used:
      %p
        Ruby on Rails, Javascript, Backbone.js, Java, Hadoop, Cascading

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Harris Corporation
      %h4
        Engineering Intern
      %p
        Created data manipulation tool used to interface with embedded Linux device. Deep knowledge of cellular CDMA specification required.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'harris-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        Summer 2010
      %h4
        Technologies used:
      %p
        C++, C#, .Net Framework, Linux, Embedded Programming, CDMA Spec


.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        Philips Healthcare
      %h4
        Engineering Co-Op
      %p
        Created a wireless device used to stream video into a hospital MRI room. Custom circuitry required for shielding from the extreme electromagnetic field.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'philips-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2009-2010
      %h4
        Technologies used:
      %p
        C++, Linux, Embedded Programming, Video Compression, Video Streaming, Analog Circuits

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        American Express
      %h4
        Engineering Intern
      %p
        Created informational site for Amex New Technology Initiative. Gave presentations to various business partners. Created cost models for initiative in Excel.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'americanExpress-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        Summer 2009
      %h4
        Technologies used:
      %p
        Php, Html, Css, Excel, PowerPoint, Sharepoint

.row.career-row
  .col-md-4.col-xs-12
    .career-description.left
      %h3
        University of Florida
      %h4
        Computer Science
      %p
        Graduated Summa Cum Laude out of the Honors Program as part of the College of Engineering. Founded Craft Brewing Association: student club focused on the art of beer brewing.

  .col-md-4.col-xs-12
    .career-logo
      .circle
      = image_tag 'uf-128px.png'

  .col-md-4.col-xs-12
    .career-description.right
      %h3
        2006-2010
      %h4
        Areas of study:
      %p
        Artificial Intelligence, Database Optimization, Object Oriented Programming, Microprocessors, Electrical Engineering

