.row
  .col-md-12
    = link_to(image_tag('profile-circle.png'), root_path)
.row
  .col-md-12
    %ul#nav-links
      = nav_link(params, 'about')
      = nav_link(params, 'experience')
      %ul
        = nav_link(params, 'experience', 'career')
        = nav_link(params, 'experience', 'products')
        %ul
          = nav_link(params, 'experience', 'products', 'under_construction')
.row
  .col-md-12
    #social-links
      = link_to image_tag('GitHub-Mark-32px.png'), 'http://www.github.com/dbe', :target => '_blank'
      = link_to image_tag('linkedin-32px.png'), 'https://www.linkedin.com/in/davidbrianethier', :target => '_blank'
